body {
  margin: 0;
  padding: 0;
  height: 500px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

p {
  text-align: center;
  font-size: 16px;
}

form {
  text-align: center;
  margin: 20px 0;
  opacity: .6;
  transition: opacity 0.3s ease;
}

form:hover {
  opacity: 1;
}

input {
  margin: 0;
  border-radius: 3px;
  padding: 11px 15px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px #212121;
}

button {
  margin: 0;
  border-radius: 3px;
  border: none;
  padding: 11px 10px;
  margin-left: 10px;
  margin-top: -2px;
  outline: none;
  box-shadow: 0px 3px 10px #212121;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: rgb(235,235,235);
}

button:hover {
  background-color: white;
}

.weatherImg {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.weather-info {
  font-size: 25px;
}
